:root {
  /* Couleurs */
  --color-white: #ffffff;
  --color-black: #111111;
  --color-gray-light: #eeeeee;
  --color-gray-medium: #aaaaaa;
  --color-gray-dark: #999999;
  --color-gray-darker: #333333;
  --color-hotpink: #ff69b4;

  --color-green-base: #bade2c;
  --color-green-bg-transparent: rgba(171, 199, 55, 0.2);
  --color-green-shadow: var(--color-green-base); /* Pour box-shadow */

  --color-html-base: #f78b5d;
  --color-html-bg-transparent: rgba(241, 101, 41, 0.2);
  --color-html-shadow: var(--color-html-base); /* Pour box-shadow */

  --color-css-base: #3db8ed;
  --color-css-bg-transparent: rgba(41, 169, 223, 0.2);
  --color-css-shadow: var(--color-css-base); /* Pour box-shadow */

  --color-javascript-base: #f5cc36;
  --color-javascript-bg-transparent: rgba(232, 201, 23, 0.2);
  --color-javascript-shadow: var(--color-javascript-base); /* Pour box-shadow */

  --color-php-base: #7497ee;
  --color-php-bg-transparent: rgba(97, 124, 190, 0.2);
  --color-php-shadow: var(--color-php-base); /* Pour box-shadow */

  --color-liquid-base: #b5e957; /* Couleur de base pour Liquid */
  --color-liquid-text: #29a9df; /* Couleur spécifique pour le texte/icône si différente */
  --color-liquid-bg-transparent: rgba(149, 190, 70, 0.2);
  --color-liquid-shadow: var(--color-liquid-base); /* Pour box-shadow */

  --color-book-base: #c966f4; /* Violet pour documentation */
  --color-book-bg-transparent: rgba(142, 68, 173, 0.2);
  --color-book-shadow: var(--color-book-base);

  --color-grid-base: #f8a154; /* Orange pour layouts */
  --color-grid-bg-transparent: rgba(230, 126, 34, 0.2);
  --color-grid-shadow: var(--color-grid-base);

  --color-device-base: #4aa8e7; /* Bleu pour device */
  --color-device-bg-transparent: rgba(52, 152, 219, 0.2);
  --color-device-shadow: var(--color-device-base);

  --color-type-base: #2eccad; /* Turquoise pour typographie */
  --color-type-bg-transparent: rgba(22, 160, 133, 0.2);
  --color-type-shadow: var(--color-type-base);

  --color-eye-base: #31e67c; /* Vert pour accessibilité */
  --color-eye-bg-transparent: rgba(39, 174, 96, 0.2);
  --color-eye-shadow: var(--color-eye-base);

  --color-text-base: #eb6354; /* Rouge pour texte */
  --color-text-bg-transparent: rgba(192, 57, 43, 0.2);
  --color-text-shadow: var(--color-text-base);

  --color-refresh-base: #8aa5c0; /* Gris pour reset */
  --color-refresh-bg-transparent: rgba(149, 165, 166, 0.2);
  --color-refresh-shadow: var(--color-refresh-base);

  --color-image-base: #f78376; /* Rouge-rose pour images */
  --color-image-bg-transparent: rgba(231, 76, 60, 0.2);
  --color-image-shadow: var(--color-image-base);

  --color-palette-base: #c96fed; /* Violet clair pour palette */
  --color-palette-bg-transparent: rgba(155, 89, 182, 0.2);
  --color-palette-shadow: var(--color-palette-base);

  --color-check-base: #47e9c9; /* Turquoise clair pour quiz */
  --color-check-bg-transparent: rgba(26, 188, 156, 0.2);
  --color-check-shadow: var(--color-check-base);

  --color-game-base: #f39c12; /* Orange vif pour jeu */
  --color-game-bg-transparent: rgba(243, 156, 18, 0.2);
  --color-game-shadow: var(--color-game-base);

  --color-scanner-base: #2ecc71; /* Vert pour scanner/QR codes */
  --color-scanner-bg-transparent: rgba(46, 204, 113, 0.2);
  --color-scanner-shadow: var(--color-scanner-base);

  /* Hotpink (rose) */
  --color-brush-base: #ff69b4; /* HOTPINK */
  --color-brush-bg-transparent: rgba(255, 105, 180, 0.2);
  --color-brush-shadow: var(--color-brush-base);

  /* Espacements */
  --spacing-0: 0rem;
  --spacing-3: 0.1875rem; /* 3px / 16px */
  --spacing-4: 0.25rem; /* 4px / 16px */
  --spacing-6: 0.375rem; /* 6px / 16px */
  --spacing-10: 0.625rem; /* 10px / 16px */
  --spacing-12: 0.75rem; /* 12px / 16px */
  --spacing-15: 0.9375rem; /* 15px / 16px */
  --spacing-16: 1rem; /* 16px / 16px */
  --spacing-20: 1.25rem; /* 20px / 16px */
  --spacing-30: 1.875rem; /* 30px / 16px */
  --spacing-48: 3rem; /* 48px / 16px (pour 3em) */
  --spacing-64: 4rem; /* 64px / 16px (pour 4em) */

  /* Tailles de police */
  --text-base: 1rem;
  --text-s: 0.8rem;
  --text-m: 1.1rem;
  --text-l: 1.4rem;
  --text-xl: 3rem;

  /* Graisses de police */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Hauteurs de ligne */
  --leading-normal: 1.5;
  --leading-tight: 1; /* Correspond à font-size * 1 */
  --leading-snug: 2; /* Correspond à font-size * 2 */

  /* Rayons de bordure */
  --radius-s: 3px;
  --radius-m: 1rem;

  /* Transitions */
  --transition-duration-fast: 0.25s;
}

body {
  margin: var(--spacing-0);
  min-height: 100dvh; /* Ajout du min-height */
  font-size: var(--text-base);
  line-height: var(--leading-normal);
  font-family: system-ui, sans-serif;
  font-weight: var(--font-weight-regular);
  color: var(--color-white);
  background: var(--color-black);
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: var(--text-xl);
  line-height: var(
    --leading-tight
  ); /* Ajusté pour correspondre à 3rem / 3rem */
  font-weight: var(--font-weight-bold);
  text-align: center;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: var(--text-l);
  line-height: var(
    --leading-snug
  ); /* Ajusté pour correspondre à 2.8rem / 1.4rem */
  font-weight: var(--font-weight-regular);
  text-align: center;
  color: var(--color-gray-light);
}

h3 {
  font-size: var(--text-m);
  line-height: var(
    --leading-snug
  ); /* Ajusté pour correspondre à 2.2rem / 1.1rem */
  font-weight: var(--font-weight-bold);
  vertical-align: middle;
  text-align: center;
  margin-top: var(--spacing-0);
  display: flex;
  justify-content: start;
  align-items: center;

  & span {
    /* Étiquette "archive" */
    margin-left: auto;
    color: var(--color-gray-dark);
  }

  & .icon {
    margin-right: var(--spacing-16); /* 1rem */
  }
}

a {
  color: var(--color-hotpink);

  &:visited {
    color: var(--color-hotpink);
  }
}

.header {
  width: 90%;
  max-width: 1200px;
  margin: var(--spacing-0) auto;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.button {
  display: inline-block;
  border: 1px solid; /* La couleur du border héritera de la couleur du texte */
  padding: var(--spacing-3) var(--spacing-10) var(--spacing-4); /* 3px 10px 4px */
  border-radius: var(--radius-s); /* 3px */
  margin: var(--spacing-6) var(--spacing-12) var(--spacing-0) var(--spacing-0); /* 6px 12px 0 0 */
  transition: var(--transition-duration-fast) background-color,
    var(--transition-duration-fast) color;
}

.button:hover {
  background: var(--color-white);
  color: var(--color-gray-darker);
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: var(--spacing-10); /* 10px */
  vertical-align: middle;
  position: relative;
}

h1 .icon {
  width: 3rem; /* Conserve rem car lié à la taille de la police de h1 */
  height: 3rem; /* Conserve rem car lié à la taille de la police de h1 */
}

.icon--sub {
  fill: var(--color-gray-darker);
  width: 16px;
  height: 16px;
  margin: var(--spacing-0);
  vertical-align: sub;
}

.portfolio {
  list-style: none;
  padding: var(--spacing-0);
  margin: var(--spacing-0) auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--spacing-20); /* 20px */
  max-width: 1200px;
}

/* Styles de base pour toutes les cartes */
.repo {
  position: relative;
  display: block;
  padding: var(--spacing-30);
  background: var(--repo-bg, var(--color-green-bg-transparent));
  transition: var(--transition-duration-fast) box-shadow;
  border-radius: var(--radius-m);

  /* Styles communs pour les liens et titres */
  a,
  h3 {
    color: var(--repo-color, var(--color-green-base));
    text-decoration: none;
  }

  /* Styles communs pour les icônes */
  .icon {
    fill: var(--repo-icon, var(--repo-color, var(--color-green-base)));
    background: transparent;
  }

  /* Effet hover commun */
  &:hover {
    box-shadow: inset 0px 0px 0px 2px
      var(--repo-shadow, var(--color-green-shadow));
  }
}

/* Définition des couleurs pour chaque variante via custom properties */
.repo--html {
  --repo-bg: var(--color-html-bg-transparent);
  --repo-color: var(--color-html-base);
  --repo-shadow: var(--color-html-shadow);
}

.repo--css {
  --repo-bg: var(--color-css-bg-transparent);
  --repo-color: var(--color-css-base);
  --repo-shadow: var(--color-css-shadow);
}

.repo--javascript {
  --repo-bg: var(--color-javascript-bg-transparent);
  --repo-color: var(--color-javascript-base);
  --repo-shadow: var(--color-javascript-shadow);
}

.repo--php {
  --repo-bg: var(--color-php-bg-transparent);
  --repo-color: var(--color-php-base);
  --repo-shadow: var(--color-php-shadow);
}

.repo--liquid {
  --repo-bg: var(--color-liquid-bg-transparent);
  --repo-color: var(--color-liquid-text);
  --repo-shadow: var(--color-liquid-shadow);
}

.repo--book {
  --repo-bg: var(--color-book-bg-transparent);
  --repo-color: var(--color-book-base);
  --repo-shadow: var(--color-book-shadow);
}

.repo--grid {
  --repo-bg: var(--color-grid-bg-transparent);
  --repo-color: var(--color-grid-base);
  --repo-shadow: var(--color-grid-shadow);
}

.repo--device {
  --repo-bg: var(--color-device-bg-transparent);
  --repo-color: var(--color-device-base);
  --repo-shadow: var(--color-device-shadow);
}

.repo--type {
  --repo-bg: var(--color-type-bg-transparent);
  --repo-color: var(--color-type-base);
  --repo-shadow: var(--color-type-shadow);
}

.repo--eye {
  --repo-bg: var(--color-eye-bg-transparent);
  --repo-color: var(--color-eye-base);
  --repo-shadow: var(--color-eye-shadow);
}

.repo--text {
  --repo-bg: var(--color-text-bg-transparent);
  --repo-color: var(--color-text-base);
  --repo-shadow: var(--color-text-shadow);
}

.repo--refresh {
  --repo-bg: var(--color-refresh-bg-transparent);
  --repo-color: var(--color-refresh-base);
  --repo-shadow: var(--color-refresh-shadow);
}

.repo--image {
  --repo-bg: var(--color-image-bg-transparent);
  --repo-color: var(--color-image-base);
  --repo-shadow: var(--color-image-shadow);
}

.repo--palette {
  --repo-bg: var(--color-palette-bg-transparent);
  --repo-color: var(--color-palette-base);
  --repo-shadow: var(--color-palette-shadow);
}

.repo--check {
  --repo-bg: var(--color-check-bg-transparent);
  --repo-color: var(--color-check-base);
  --repo-shadow: var(--color-check-shadow);
}

.repo--game {
  --repo-bg: var(--color-game-bg-transparent);
  --repo-color: var(--color-game-base);
  --repo-shadow: var(--color-game-shadow);
}

.repo--scanner {
  --repo-bg: var(--color-scanner-bg-transparent);
  --repo-color: var(--color-scanner-base);
  --repo-shadow: var(--color-scanner-shadow);
}

.repo--brush {
  --repo-bg: var(--color-brush-bg-transparent);
  --repo-color: var(--color-brush-base);
  --repo-shadow: var(--color-brush-shadow);
}

/* Styles pour les détails */
.details {
  position: absolute;
  font-size: var(--text-s);
  top: var(--spacing-15);
  right: var(--spacing-20);
  opacity: 0.75;

  span {
    margin-left: var(--spacing-16);
  }
}

.copy {
  text-align: center;
  color: var(--color-gray-medium);
  margin: var(--spacing-64) var(--spacing-0) var(--spacing-48) var(--spacing-0); /* 4em 0 3em 0 */
  a {
    color: inherit;
  }
}
